@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;

  color-scheme: light dark;

  color: #fff;
  background-color: #242424;

  font-family: 'Montserrat', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

